main{
    padding-left: 21.5%;
}
.height{
    height: 685px;
    margin-top:.5%;
}

.padding{
    padding: 2%;
};

image{
    max-width: 100%;
}
.carousel .carousel-item{
    visibility: hidden;
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel {
    overflow: visible;
    position: inherit;
    width: 100%;
    height: 300px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.title{
    padding: 2%;
    margin-top: 0%;
}
.margins{
    margin: 0%;
}
.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.rounded{
    border-radius: 20px;
}
.rounded50{
    border-radius: 50px;
}
.main-font{
    font-family: 'Cinzel', serif;
}
.port-font{
    font-family: 'Dancing Script', cursive;
}
.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.w85{
    max-width: 85%;
}
.ml-5{
    margin-left: 5%;
}
.mr-5{
    margin-right: 5%;
}
.bottommargin{
    margin-bottom: 15px;
}
.pt-5{
    padding-top: 5px;
}
.card-pt{
    padding-top: 11.25px;
}
.rounded-5{
    border-radius: 5px !important;
}
.logo{
    height: 128px;
    width: 128px;
}
.otherimg{
    height: 100px;
    width: 175px;
}
.backimg{
    height: 100px;
    width: 175px;
}
.card-size{
    height: 418px;
    width: 300px;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 313.3px;
}
.border{
    border: 2px;
    border-style: solid;
    border-color: navy;
}
.profileimg{
    background-image: url(../images/profile.jpg); 
    background-repeat: no-repeat;
    background-size:cover;  
}
.iconimg{
    height:50px;
    width: 125px;
}
.link-size{
    font-size: 18pt;
}
